<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eastwinddc.sample">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DeviceInfoActivity"/>

        <activity android:name=".accessibility.AccessibilityActivity"/>
        <service android:name=".accessibility.AccessService"
            android:label="wechat monitor"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/access_service"/>
        </service>

        <activity android:name=".customView.CustomViewActivity"></activity>
        <activity android:name=".RecylerViewActivity"></activity>
        <activity android:name=".CardViewActivity"></activity>
        <activity android:name=".TextViewActivity"></activity>
        <activity android:name=".animation.ViewAnimationActivity"/>
        <activity android:name=".animation.PropertyAnimationActivity"/>

        <activity android:name=".lockscreen.LockScreenActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent"></activity>
        <service android:name=".lockscreen.LockScreenService"/>

        <activity android:name=".touchEvent.TouchEventActivity"/>
        <activity android:name=".hw.BtActivity"/>
    </application>

</manifest>